body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  /* background: green; */
  width: 47px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: aliceblue;
 
}
.slick-arrow.slick-prev:hover,
.slick-arrow.slick-next:hover{
  background-color: rgb(238, 236, 243);
  opacity: 0.6;
  
}
.slick-prev::before,
.slick-next::before{
  display: none;
  
}

.slick-arrow.slick-prev{
 left: 0px;
 border-radius: 0px 10px 10px 0px;
 
}
.slick-arrow.slick-next{
  right: 0px;
  border-radius: 10px 0px 0px 10px;
 }


.images{
  width: 100%;
}
.images-1{
  width: 100%;
  height: 25vh;
  padding: 10px;
  background-color: rgb(178, 172, 189);
  /* border-radius: 10px; */
}
/* .box{
  box-shadow: -30px 30px 20px yellow;
} */
.images-1:hover{
  width: 100%;
  height: 25vh;
  cursor: pointer;
}
